<div
      class="block-container"
      [ngClass]="{ glow: isDragging }"
      [ngStyle]="{
        width: width + 'px',
        height: height + 'px',
        transform: 'translate(' + x + 'px, ' + y + 'px)',
        background: color,
      }"
    >

  <h1> Quality Control Filtering </h1>

  <div> <p>Minimum Mean</p> <input [(ngModel)]="minMean" type="number" min="0" [defaultValue]=minMean /> </div>
  <div> <p>Maximum Mean</p> <input [(ngModel)]="maxMean" type="number" min="0" [defaultValue]=maxMean /> </div>
  <div> <p>Minimum Dispersion</p> <input [(ngModel)]="minDispersion" type="number" min="0" [defaultValue]=minDispersion /> </div>
</div>
