<div
      class="block-container"
      [ngClass]="{ glow: isDragging }"
      [ngStyle]="{
        width: width + 'px',
        height: height + 'px',
        transform: 'translate(' + x + 'px, ' + y + 'px)',
        background: color,
      }"
    >

  <h1> Load Data </h1>
  <select class="box-drop-down" [(ngModel)]="selectedDataSet">
    <option value="1" selected>Peripheral Blood Mononuclear cells</option>
    <option value="2" >Malaria Cells Atlus P. falciparum</option>
  </select>


</div>
