<div
      class="block-container"
      [ngClass]="{ glow: isDragging }"
      [ngStyle]="{
        width: width + 'px',
        height: height + 'px',
        transform: 'translate(' + x + 'px, ' + y + 'px)',
        background: color,
      }"
    >

  <h1>Basic Filtering</h1>
  <div> <p>Minimum Genes Per Cell</p> <input [(ngModel)]="genesPerCell" type="number" min="0" [defaultValue]=minimumGenesPerCell /> </div>
  <div> <p>Minimum Cells Per Gene</p> <input [(ngModel)]="cellsPerGene" type="number" min="0" [defaultValue]=minimumCellsPerGene /> </div>

</div>
