<div class="workspace">
  <ng-template #dynamicContainer></ng-template>
  <button (click)="addBlock(LoadData)">Add LoadData Block</button>
  <button (click)="addBlock(BasicFilteringComponent)">Add BasicFilteringComponent Block</button>
  <button (click)="addBlock(QualityControlPlots)">Add QualityControlPlots Block</button>
  <button (click)="addBlock(Integration)">Add Integration Block</button>
  <button (click)="addBlock(IdentifyHighlyVariableGenes)">Add IdentifyHighlyVariableGenes Block</button>
  <button (click)="addBlock(PrincipleComponentAnalysis)">Add PrincipleComponentAnalysis Block</button>
  <button (click)="addBlock(PlotDimensionReduction)">Add PlotDimensionReduction Block</button>
  <button (click)="addBlock(QualityControlsFiltering)">Add QualityControlsFiltering Block</button>
  <button (click)="addBlock(RunUmap)">Add RunUmap Block</button>
  <button (click)="removeAllBlocks()">clear all Blocks</button>
</div>
