<div #dynamicContainer class="workspace horizontal-container" style="height: calc(88vh - 20px)">
        <div id="library-container" style="width: 24%">
            <app-block-library>
              <app-block-generator [workspace]="this" [blockType]="LoadData"></app-block-generator>
              <app-block-generator [workspace]="this" [blockType]="BasicFilteringComponent"></app-block-generator>
              <app-block-generator [workspace]="this" [blockType]="QualityControlPlots"></app-block-generator>
              <app-block-generator [workspace]="this" [blockType]="QualityControlsFiltering"></app-block-generator>
              <app-block-generator [workspace]="this" [blockType]="IdentifyHighlyVariableGenes"></app-block-generator>
              <app-block-generator [workspace]="this" [blockType]="PrincipleComponentAnalysis"></app-block-generator>
              <app-block-generator [workspace]="this" [blockType]="Integration"></app-block-generator>
              <app-block-generator [workspace]="this" [blockType]="RunUmap"></app-block-generator>
              <app-block-generator [workspace]="this" [blockType]="PlotDimensionReduction"></app-block-generator>
            </app-block-library>
        </div>
        <div id="canvas-container" style="width: 27%">
          <div id="canvas-button-container">
            <button (click)="removeAllBlocks()">clear all Blocks</button>
            <button (click)="centerCanvas()">"center canvas"</button>
            <button (click)="executeBlocks()">"execute blocks"</button>
          </div>
          <p>ye who witness this message, thee have strayed too far and must now press the center canvas button</p>
          <app-canvas> </app-canvas>
        </div>
        <div style="width: 49%">
            <app-output-display> </app-output-display>
        </div>
</div>
