.block-container {
    border: 1px solid #333; /* Border to make it visible */
    margin: 10px; /* Space between blocks */
    cursor: pointer; /* Indicate that it's draggable */
    transition: background-color 0.2s; /* Smooth color transition */
    user-select: none;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    /* important for weird reasons*/
    left: 0;
    top: 0;
    z-index: 1000;
    position: absolute;
}

.block-container:active {
    cursor: grabbing;
}


h1{
  font-size: 20px;
  text-align: center;
}

p{
  font-size: 10px;
  margin: auto;
}

#dataset{
  width: 80%;
}

.no-interact {
  pointer-events: none;  /* Disables mouse interactions like click, hover, etc. */
  user-select: none;     /* Prevents text selection */
  touch-action: none;    /* Disables touch interactions like scrolling and pinch-to-zoom */
  cursor: not-allowed;   /* Optional: Change cursor to indicate non-interactivity */
}

.glow {
  box-shadow: 0 0 10px 5px black;
  transition: box-shadow 0.15s ease-in-out;
}
