<div
      class="block-container"
      [ngClass]="{ glow: isDragging }"
      [ngStyle]="{
        width: width + 'px',
        height: height + 'px',
        transform: 'translate(' + x + 'px, ' + y + 'px)',
        background: color,
      }"
    >

  <h1>Run UMAP</h1>
  <div> <p>Number of Neighbours</p> <input [(ngModel)]="noOfNeighbours" type="number" min="0" [defaultValue]=noOfNeighbours /> </div>
  <div> <p>Number of Principal Components</p> <input [(ngModel)]="noOfPrincipleComponents" type="number" min="0" [defaultValue]=noOfPrincipleComponents /> </div>
</div>
